<div class="parent">

    <div class="child1">
        <div class="left">
            <h1>Product Delivery</h1>
            <label for="">Name:</label>
            <input type="name">
            <br>
            <label for="">Price:</label>
            <input type="number">
            <br>
            <label for="">Model:</label>
            <input type="text">
            <br>
            <label for="">FreeDelivery:</label>
            <input type="radio" name="Delivery">
            <label for="">Yes</label>
            <input type="radio" name="Delivery">
            <label for="">No</label>
            <br>
            <label for="">Image:</label>
            <input type="file">
            <br>
            <label for="">Eligible:</label>
            <input type="radio" name="eligible">
            <label for="">Yes</label>
            <input type="radio" name="eligible">
            <label for="">No</label>
            <br>
            <label for="">Month:</label>
            <input type="month">
            <br>
            <button class="bt1">Submit</button>

        </div>
        <div class="right">
            <div class="rt1"></div>
            <div class="rt2"></div>
        </div>
    </div>

    <div class="child2">
        <div class="l1"></div>
        <div class="r1"></div>
    </div>

    <button class="btn btn-primary">Create Product</button>

</div>