<div class="parent">
    <div class="child">

        <h1>Maths Subject Result</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Marks</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users ">
                    <td>{{user.name | uppercase}}</td>
                    <td>{{user.subject | uppercase}}</td>
                    <td [ngStyle]="{'color':user.marks<35?'red':'green'}">{{user.marks}}</td>
                    <td [ngClass]="{'red':user.marks<35, 'green':user.marks>=35}">{{user.result}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>