<div class="parent">
    <div class="left">
        <h1 routerLink="home">HOME</h1>
        <h1 >PRODUCTS</h1>
        <h1 routerLink="about">ABOUT</h1>
        <h1>CART</h1>
        <h1 routerLink="data-binding">Data-Binding</h1>
        <h1 routerLink="calculator">calculator</h1>
        <h1 routerLink="directives">Directives</h1>
        <h1 routerLink="marks">Marks</h1>
        <h1 routerLink="products">Products</h1>
        <h1 routerLink="rectangle">Rectangle</h1>
        <h1 routerLink="Registration">Registration</h1>
        <button routerLink="/login">Logout</button>
        <!-- <h1 routerLink="rectangle">Rectangle</h1> -->

    </div>
    <div class="right"></div>
    <router-outlet></router-outlet>
</div>
